.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background-color: black;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

#background {
  background-image: url(../assets/backgroundworld.jpg);
}

body {
  margin: 0;
}

[draggable="true"] {
  user-drag: none; /* For Safari */
  user-select: none; /* Prevents selection */
  -webkit-user-drag: none; /* For WebKit browsers */
  pointer-events: none; /* Disables drag interaction */
}